#Folders
__pycache__
myenv/
images_cropped/
output_images/
model_Vgg16_60_weapons/

#Archives
model_Vgg16_60_weapons.zip
model_Vgg16_60_weapons
single_frame.jpg

# type of files
*.png
*.jpg
*.jpeg
*.wav

# Don't ignore sample files
!audio_model/sample_sounds/gunshot_test.wav
!audio_model/sample_sounds/scream_test.wav
!audio_model/sample_sounds/siren_test.wav